header.site-header{
	background: $gray-dark;
	color: #fff; 
	position: relative;
	.wrap{
		width: 100%; 
		display: flex; 
		@include mobile-break{
				padding: 0; 
			}
	}
	div{
		display: inline-flex; 
		
		&.tag{
			float: left; 
			align-self: center; 
			strong{
				padding: 0 4px;
			}
			 @include mobile-break{
				display: none; 
			}
		}
		&.header-right{
			margin-left: auto;
			align-self: center; 
			span{padding: 8px;
				a{
					background: transparent; 
					color: #fff; 
				}
			}
			a{
				padding: 8px;
				margin-left: 10px; 
				background: $gold; 
			}
		}
	}
	.mobile-icon{
		width: 40px; 
		height: 100%; 
		background: transparent; 
		display: none; 
		position: absolute; 
		left: 0; 
		top:0; 
		height: 100%; 
		&:hover{
			cursor: pointer; 
		}
		@include mobile-break{
				display: block; 
			}
			span{
				display: block; 
				height: 3px; 
				width: 80%; 
				margin: 5px auto; 
				background: $gold; 
				position: relative; 
				&:first-child{
					margin-top: 10px; 
				}
			}
	}
}

.wrap{
	padding: 0 30px; 
}

.mobile-icon.active span{
				position: absolute; 
				&:first-child{
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg);
						top: 12px;
				}
				&:last-child{
					    -webkit-transform: rotate(-45deg);
					    transform: rotate(-45deg);
						top: 4px;
				}
				&:nth-child(2){
					display: none; 
				}
}

@include mobile-break{
	#home-top-search .mobile-open, .mobile-open{
		.wrap{
			padding: 0px; 
			position: relative; 
			ul{
				display: block;
			    position: absolute;
			    background: $gray-dark;
			    width: 100%;
			    top:0; 
			    z-index: 999; 
			    li{
				    display: block; 
				    text-align: left; 
				    a{
					    color: #fff; 
					    text-shadow: none; 
					    font-size: 14px; 
				    }
			    }
			}
			
		}
	}
}